<div class="footer-content">
  <div class="copyright">
    <p>&copy; {{ now.Year }} {{ site.Title }}. All rights reserved.</p>
  </div>
  <div class="footer-links">
    {{ with site.Params.email }}<a href="mailto:{{ . }}" target="_blank" rel="noopener">E-mail</a>{{ end }}
    {{ with site.Params.linkedin }}<a href="https://linkedin.com/in/{{ . }}" target="_blank"
      rel="noopener">LinkedIn</a>{{ end }}
    {{ with site.Params.github }}<a href="https://github.com/{{ . }}" target="_blank" rel="noopener">GitHub</a>{{ end }}
    <a href="/impressum/">Impressum</a>
  </div>
</div>