{{ define "main" }}
<div class="intro">
  <h2>{{ .Title | .RenderString }}</h2>
  <div>{{ .Content }}</div>
</div>

{{ $posts := where site.RegularPages "Type" "posts" }}
{{ if gt (len $posts) 0 }}
<div class="posts">
  <h2>posts</h2>
  {{ range $posts }}
  <article>
    <!--<h3>{{ .LinkTitle }}</h3>-->
    <h3><a class="title-link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
    {{ if not .Date.IsZero }}
    <div class="post-meta">
      <time datetime="{{ .Date.Format " 2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
      {{ with .Params.tags }}
      <span class="meta-divider">·</span>
      <span class="mini-tags">
        {{ range first 3 . }}
        <a href="{{ (site.GetPage (printf " /tags/%s" .)).RelPermalink }}">{{ . }}</a>
        {{ end }}
      </span>
      {{ end }}
    </div>
    {{ end }}
    <div class="post-summary">{{ .Summary }}</div>
    <a href="{{ .RelPermalink }}" class="read-more">read more →</a>
  </article>
  {{ end }}
</div>
{{ end }}
{{ end }}
