<form action="mailto:marko.kolarek@proton.me" method="get" enctype="application/x-www-form-urlencoded">
    <div style="margin: 8px;">
        <label for="subject">Subject:</label>
        <input class="custom_input" type="text" id="subject" name="subject" required>

    </div>
    <div style="margin: 8px;">
        <label for="message">Message:</label>
        <textarea class="custom_input" id="body" name="body" rows="4" cols="50" required></textarea>
    </div>
    <button class="button" style="padding: 6px 12px 6px 12px;">Send</button>
</form>
